@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
:root {
    --background: black;
    --text: pink;
    --border: pink;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

h1, h2, h3, a, p, span {
    font-family: 'Tilt Neon', cursive;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text);
    margin: 0px;
}

* {
    box-sizing: border-box;
}

i {
    color: var(--text);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border);
}

nav > .nsection {
    padding: 1.5rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--border);
}

.logo {
    justify-content: flex-start !important;
}

.logo a {
    font-size: 3rem;
}

.logo, .link {
    flex-basis: calc(100% / 3.5);
}

.svcs, .cntc {
    flex-grow: 1;
}